wsdl/AccommodationType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AccommodationTypeServiceInterface" targetNamespace="http://interfaces.megatravel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://interfaces.megatravel.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/types" version="1.0">
<xs:complexType name="locationDTO">
<xs:sequence>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="latitude" type="xs:double"/>
<xs:element minOccurs="0" name="longitude" type="xs:double"/>
<xs:element minOccurs="0" name="number" type="xs:integer"/>
<xs:element name="postalCode" type="xs:int"/>
<xs:element minOccurs="0" name="street" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/types" xmlns:ns2="http://www.megatravel.com/admin" xmlns:tns="http://www.megatravel.com/agent" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/agent" version="1.0">
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:import namespace="http://www.megatravel.com/admin"/>
<xs:complexType name="accommodationTypeDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nameOfAccType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="pricingDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="price" type="xs:decimal"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="syncDataDTO">
<xs:sequence>
<xs:element minOccurs="0" name="dateOfSync" type="xs:dateTime"/>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="imageDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="uri" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="extraServiceDTO">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nameOfService" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="unitTypeDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nameOfUnitType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="accommodationDTO">
<xs:sequence>
<xs:element minOccurs="0" name="accommodationTypeDTO" type="tns:accommodationTypeDTO"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="accommodationUnitDTO" nillable="true" type="tns:accommodationUnitDTO"/>
<xs:element minOccurs="0" name="category" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="extraServiceDTO" nillable="true" type="tns:extraServiceDTO"/>
<xs:element name="freeToCancel" type="xs:boolean"/>
<xs:element name="freeToCancelDays" type="xs:int"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="locationDTO" type="ns1:locationDTO"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="userDTO" type="ns2:userDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="accommodationUnitDTO">
<xs:sequence>
<xs:element minOccurs="0" name="cancelationDays" type="xs:integer"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="extraServiceDTO" nillable="true" type="tns:extraServiceDTO"/>
<xs:element name="id" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="imageDTO" nillable="true" type="tns:imageDTO"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="locationDTO" type="ns1:locationDTO"/>
<xs:element minOccurs="0" name="nameOfUnit" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="pricingDTO" nillable="true" type="tns:pricingDTO"/>
<xs:element name="size" type="xs:int"/>
<xs:element minOccurs="0" name="unitTypeDTO" type="tns:unitTypeDTO"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/types" xmlns:tns="http://www.megatravel.com/admin" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/admin" version="1.0">
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:complexType name="userDTO">
<xs:sequence>
<xs:element name="activatedUser" type="xs:boolean"/>
<xs:element minOccurs="0" name="birthday" type="xs:dateTime"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="locationDTO" type="ns1:locationDTO"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
<xs:element minOccurs="0" name="pib" type="xs:string"/>
<xs:element minOccurs="0" name="roleDTO" type="tns:roleDTO"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="roleDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/agent" xmlns:tns="http://interfaces.megatravel.com/" elementFormDefault="unqualified" targetNamespace="http://interfaces.megatravel.com/" version="1.0">
<xs:import namespace="http://www.megatravel.com/agent"/>
<xs:element name="createAccType" type="tns:createAccType"/>
<xs:element name="createAccTypeResponse" type="tns:createAccTypeResponse"/>
<xs:element name="deleteAccType" type="tns:deleteAccType"/>
<xs:element name="deleteAccTypeResponse" type="tns:deleteAccTypeResponse"/>
<xs:element name="getAccType" type="tns:getAccType"/>
<xs:element name="getAccTypeResponse" type="tns:getAccTypeResponse"/>
<xs:element name="getAllAccType" type="tns:getAllAccType"/>
<xs:element name="getAllAccTypeResponse" type="tns:getAllAccTypeResponse"/>
<xs:element name="updateAccType" type="tns:updateAccType"/>
<xs:element name="updateAccTypeResponse" type="tns:updateAccTypeResponse"/>
<xs:complexType name="createAccType">
<xs:sequence>
<xs:element minOccurs="0" name="AccommodationTypeDTO" type="ns1:accommodationTypeDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createAccTypeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:accommodationTypeDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAccType">
<xs:sequence>
<xs:element minOccurs="0" name="AccommodationTypeId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAccTypeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:accommodationTypeDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteAccType">
<xs:sequence>
<xs:element minOccurs="0" name="AccommodationTypeId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteAccTypeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:accommodationTypeDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllAccType">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllAccTypeResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:accommodationTypeDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateAccType">
<xs:sequence>
<xs:element minOccurs="0" name="AccommodationTypeDTO" type="ns1:accommodationTypeDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateAccTypeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:accommodationTypeDTO"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createAccType">
    <wsdl:part name="parameters" element="tns:createAccType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccType">
    <wsdl:part name="parameters" element="tns:getAccType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAccTypeResponse">
    <wsdl:part name="parameters" element="tns:getAllAccTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAccType">
    <wsdl:part name="parameters" element="tns:deleteAccType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAccType">
    <wsdl:part name="parameters" element="tns:getAllAccType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAccTypeResponse">
    <wsdl:part name="parameters" element="tns:createAccTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAccTypeResponse">
    <wsdl:part name="parameters" element="tns:updateAccTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAccTypeResponse">
    <wsdl:part name="parameters" element="tns:deleteAccTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccTypeResponse">
    <wsdl:part name="parameters" element="tns:getAccTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAccType">
    <wsdl:part name="parameters" element="tns:updateAccType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccommodationTypeInterface">
    <wsdl:operation name="createAccType">
      <wsdl:input name="createAccType" message="tns:createAccType">
    </wsdl:input>
      <wsdl:output name="createAccTypeResponse" message="tns:createAccTypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccType">
      <wsdl:input name="getAccType" message="tns:getAccType">
    </wsdl:input>
      <wsdl:output name="getAccTypeResponse" message="tns:getAccTypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAccType">
      <wsdl:input name="deleteAccType" message="tns:deleteAccType">
    </wsdl:input>
      <wsdl:output name="deleteAccTypeResponse" message="tns:deleteAccTypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAccType">
      <wsdl:input name="getAllAccType" message="tns:getAllAccType">
    </wsdl:input>
      <wsdl:output name="getAllAccTypeResponse" message="tns:getAllAccTypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccType">
      <wsdl:input name="updateAccType" message="tns:updateAccType">
    </wsdl:input>
      <wsdl:output name="updateAccTypeResponse" message="tns:updateAccTypeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccommodationTypeInterfaceServiceSoapBinding" type="tns:AccommodationTypeInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createAccType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createAccType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAccTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAccType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAccType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteAccType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAccTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAccType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllAccType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllAccTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateAccType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAccTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccommodationTypeServiceInterface">
    <wsdl:port name="AccommodationTypePort" binding="tns:AccommodationTypeInterfaceServiceSoapBinding">
      <soap:address location="http://localhost:9090/AccommodationTypePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
