wsdl/MessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MessageServiceInterface" targetNamespace="http://interfaces.megatravel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://interfaces.megatravel.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/types" version="1.0">
<xs:complexType name="locationDTO">
<xs:sequence>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="latitude" type="xs:double"/>
<xs:element minOccurs="0" name="longitude" type="xs:double"/>
<xs:element minOccurs="0" name="number" type="xs:integer"/>
<xs:element name="postalCode" type="xs:int"/>
<xs:element minOccurs="0" name="street" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://megatravel.com/reservations" xmlns:ns2="http://www.megatravel.com/types" xmlns:ns3="http://www.megatravel.com/admin" xmlns:tns="http://www.megatravel.com/messages" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/messages" version="1.0">
<xs:import namespace="http://megatravel.com/reservations"/>
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:import namespace="http://www.megatravel.com/admin"/>
<xs:complexType name="messageDTO">
<xs:sequence>
<xs:element minOccurs="0" name="chatRoomDTO" type="tns:chatRoomDTO"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="msg" type="xs:string"/>
<xs:element minOccurs="0" name="receiver" type="ns3:userDTO"/>
<xs:element minOccurs="0" name="sender" type="ns3:userDTO"/>
<xs:element minOccurs="0" name="timeStamp" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="chatRoomDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="reservationDTO" type="ns1:reservationDTO"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/types" xmlns:ns2="http://www.megatravel.com/admin" xmlns:tns="http://www.megatravel.com/agent" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/agent" version="1.0">
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:import namespace="http://www.megatravel.com/admin"/>
<xs:complexType name="accommodationUnitDTO">
<xs:sequence>
<xs:element minOccurs="0" name="cancelationDays" type="xs:integer"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="extraServiceDTO" nillable="true" type="tns:extraServiceDTO"/>
<xs:element name="id" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="imageDTO" nillable="true" type="tns:imageDTO"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="locationDTO" type="ns1:locationDTO"/>
<xs:element minOccurs="0" name="nameOfUnit" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="pricingDTO" nillable="true" type="tns:pricingDTO"/>
<xs:element name="size" type="xs:int"/>
<xs:element minOccurs="0" name="unitTypeDTO" type="tns:unitTypeDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="extraServiceDTO">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nameOfService" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="imageDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="uri" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="pricingDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="price" type="xs:decimal"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="unitTypeDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nameOfUnitType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="syncDataDTO">
<xs:sequence>
<xs:element minOccurs="0" name="dateOfSync" type="xs:dateTime"/>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="accommodationTypeDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nameOfAccType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="accommodationDTO">
<xs:sequence>
<xs:element minOccurs="0" name="accommodationTypeDTO" type="tns:accommodationTypeDTO"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="accommodationUnitDTO" nillable="true" type="tns:accommodationUnitDTO"/>
<xs:element minOccurs="0" name="category" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="extraServiceDTO" nillable="true" type="tns:extraServiceDTO"/>
<xs:element name="freeToCancel" type="xs:boolean"/>
<xs:element name="freeToCancelDays" type="xs:int"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="locationDTO" type="ns1:locationDTO"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="userDTO" type="ns2:userDTO"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/types" xmlns:tns="http://www.megatravel.com/admin" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/admin" version="1.0">
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:complexType name="userDTO">
<xs:sequence>
<xs:element name="activatedUser" type="xs:boolean"/>
<xs:element minOccurs="0" name="birthday" type="xs:dateTime"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="locationDTO" type="ns1:locationDTO"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
<xs:element minOccurs="0" name="pib" type="xs:string"/>
<xs:element minOccurs="0" name="roleDTO" type="tns:roleDTO"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="roleDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="loginDTO">
<xs:sequence>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="registrationDTO">
<xs:sequence>
<xs:element name="activatedUser" type="xs:boolean"/>
<xs:element minOccurs="0" name="birthday" type="xs:dateTime"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="locationDTO" type="ns1:locationDTO"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
<xs:element minOccurs="0" name="pib" type="xs:string"/>
<xs:element minOccurs="0" name="repeatPassword" type="xs:string"/>
<xs:element minOccurs="0" name="roleDTO" type="tns:roleDTO"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/types" xmlns:ns2="http://www.megatravel.com/admin" elementFormDefault="qualified" targetNamespace="http://megatravel.com/reservations" version="1.0">
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:import namespace="http://www.megatravel.com/admin"/>
<xs:complexType name="reservationDTO">
<xs:sequence>
<xs:element minOccurs="0" name="arrivalDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="departureDate" type="xs:dateTime"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="reservationPrice" type="xs:decimal"/>
<xs:element name="stayRealized" type="xs:boolean"/>
<xs:element minOccurs="0" name="userDTO" type="ns2:userDTO"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/messages" xmlns:ns2="http://www.megatravel.com/admin" xmlns:ns3="http://megatravel.com/reservations" xmlns:tns="http://interfaces.megatravel.com/" elementFormDefault="unqualified" targetNamespace="http://interfaces.megatravel.com/" version="1.0">
<xs:import namespace="http://www.megatravel.com/messages"/>
<xs:import namespace="http://www.megatravel.com/admin"/>
<xs:import namespace="http://megatravel.com/reservations"/>
<xs:element name="createChatRoom" type="tns:createChatRoom"/>
<xs:element name="createChatRoomResponse" type="tns:createChatRoomResponse"/>
<xs:element name="getChatRooms" type="tns:getChatRooms"/>
<xs:element name="getChatRoomsResponse" type="tns:getChatRoomsResponse"/>
<xs:element name="getListMessagesForChatRoom" type="tns:getListMessagesForChatRoom"/>
<xs:element name="getListMessagesForChatRoomResponse" type="tns:getListMessagesForChatRoomResponse"/>
<xs:element name="sendMessage" type="tns:sendMessage"/>
<xs:element name="sendMessageResponse" type="tns:sendMessageResponse"/>
<xs:complexType name="sendMessage">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:long"/>
<xs:element minOccurs="0" name="arg1" type="ns1:messageDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="sendMessageResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:messageDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getListMessagesForChatRoom">
<xs:sequence>
<xs:element minOccurs="0" name="UserId" type="xs:long"/>
<xs:element minOccurs="0" name="ChatroomId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getListMessagesForChatRoomResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:messageDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createChatRoom">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:chatRoomDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createChatRoomResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:chatRoomDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getChatRooms">
<xs:sequence>
<xs:element minOccurs="0" name="UserId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getChatRoomsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:chatRoomDTO"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createChatRoomResponse">
    <wsdl:part name="parameters" element="tns:createChatRoomResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListMessagesForChatRoomResponse">
    <wsdl:part name="parameters" element="tns:getListMessagesForChatRoomResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createChatRoom">
    <wsdl:part name="parameters" element="tns:createChatRoom">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendMessage">
    <wsdl:part name="parameters" element="tns:sendMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListMessagesForChatRoom">
    <wsdl:part name="parameters" element="tns:getListMessagesForChatRoom">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getChatRoomsResponse">
    <wsdl:part name="parameters" element="tns:getChatRoomsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendMessageResponse">
    <wsdl:part name="parameters" element="tns:sendMessageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getChatRooms">
    <wsdl:part name="parameters" element="tns:getChatRooms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MessageService">
    <wsdl:operation name="sendMessage">
      <wsdl:input name="sendMessage" message="tns:sendMessage">
    </wsdl:input>
      <wsdl:output name="sendMessageResponse" message="tns:sendMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListMessagesForChatRoom">
      <wsdl:input name="getListMessagesForChatRoom" message="tns:getListMessagesForChatRoom">
    </wsdl:input>
      <wsdl:output name="getListMessagesForChatRoomResponse" message="tns:getListMessagesForChatRoomResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createChatRoom">
      <wsdl:input name="createChatRoom" message="tns:createChatRoom">
    </wsdl:input>
      <wsdl:output name="createChatRoomResponse" message="tns:createChatRoomResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChatRooms">
      <wsdl:input name="getChatRooms" message="tns:getChatRooms">
    </wsdl:input>
      <wsdl:output name="getChatRoomsResponse" message="tns:getChatRoomsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageServiceServiceSoapBinding" type="tns:MessageService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendMessage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListMessagesForChatRoom">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getListMessagesForChatRoom">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListMessagesForChatRoomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createChatRoom">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createChatRoom">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createChatRoomResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChatRooms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getChatRooms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getChatRoomsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageServiceInterface">
    <wsdl:port name="MessageServicePort" binding="tns:MessageServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/MessageServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
