wsdl/PricingServiceInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PricingServiceInterface" targetNamespace="http://interfaces.megatravel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://interfaces.megatravel.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/types" version="1.0">
<xs:complexType name="locationDTO">
<xs:sequence>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="latitude" type="xs:double"/>
<xs:element minOccurs="0" name="longitude" type="xs:double"/>
<xs:element minOccurs="0" name="number" type="xs:integer"/>
<xs:element name="postalCode" type="xs:int"/>
<xs:element minOccurs="0" name="street" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/types" xmlns:ns2="http://www.megatravel.com/admin" xmlns:tns="http://www.megatravel.com/agent" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/agent" version="1.0">
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:import namespace="http://www.megatravel.com/admin"/>
<xs:complexType name="pricingDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="price" type="xs:decimal"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="accommodationDTO">
<xs:sequence>
<xs:element minOccurs="0" name="accommodationTypeDTO" type="tns:accommodationTypeDTO"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="accommodationUnitDTO" nillable="true" type="tns:accommodationUnitDTO"/>
<xs:element minOccurs="0" name="category" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="extraServiceDTO" nillable="true" type="tns:extraServiceDTO"/>
<xs:element name="freeToCancel" type="xs:boolean"/>
<xs:element name="freeToCancelDays" type="xs:int"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="locationDTO" type="ns1:locationDTO"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="userDTO" type="ns2:userDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="accommodationTypeDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nameOfAccType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="accommodationUnitDTO">
<xs:sequence>
<xs:element minOccurs="0" name="cancelationDays" type="xs:integer"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="extraServiceDTO" nillable="true" type="tns:extraServiceDTO"/>
<xs:element name="id" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="imageDTO" nillable="true" type="tns:imageDTO"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="locationDTO" type="ns1:locationDTO"/>
<xs:element minOccurs="0" name="nameOfUnit" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="pricingDTO" nillable="true" type="tns:pricingDTO"/>
<xs:element name="size" type="xs:int"/>
<xs:element minOccurs="0" name="unitTypeDTO" type="tns:unitTypeDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="extraServiceDTO">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nameOfService" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="imageDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="uri" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="unitTypeDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nameOfUnitType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="syncDataDTO">
<xs:sequence>
<xs:element minOccurs="0" name="dateOfSync" type="xs:dateTime"/>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/types" xmlns:tns="http://www.megatravel.com/admin" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/admin" version="1.0">
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:complexType name="userDTO">
<xs:sequence>
<xs:element name="activatedUser" type="xs:boolean"/>
<xs:element minOccurs="0" name="birthday" type="xs:dateTime"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="locationDTO" type="ns1:locationDTO"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
<xs:element minOccurs="0" name="pib" type="xs:string"/>
<xs:element minOccurs="0" name="roleDTO" type="tns:roleDTO"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="roleDTO">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/agent" xmlns:tns="http://interfaces.megatravel.com/" elementFormDefault="unqualified" targetNamespace="http://interfaces.megatravel.com/" version="1.0">
<xs:import namespace="http://www.megatravel.com/agent"/>
<xs:element name="createPriceForUnit" type="tns:createPriceForUnit"/>
<xs:element name="createPriceForUnitResponse" type="tns:createPriceForUnitResponse"/>
<xs:element name="deletePriceForUnit" type="tns:deletePriceForUnit"/>
<xs:element name="deletePriceForUnitResponse" type="tns:deletePriceForUnitResponse"/>
<xs:element name="getAllPricesForUnit" type="tns:getAllPricesForUnit"/>
<xs:element name="getAllPricesForUnitResponse" type="tns:getAllPricesForUnitResponse"/>
<xs:element name="getPriceForDatesUnitId" type="tns:getPriceForDatesUnitId"/>
<xs:element name="getPriceForDatesUnitIdResponse" type="tns:getPriceForDatesUnitIdResponse"/>
<xs:element name="getPricesForUnit" type="tns:getPricesForUnit"/>
<xs:element name="getPricesForUnitResponse" type="tns:getPricesForUnitResponse"/>
<xs:element name="updatePriceForUnit" type="tns:updatePriceForUnit"/>
<xs:element name="updatePriceForUnitResponse" type="tns:updatePriceForUnitResponse"/>
<xs:complexType name="getPriceForDatesUnitId">
<xs:sequence>
<xs:element minOccurs="0" name="UnitId" type="xs:long"/>
<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPriceForDatesUnitIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createPriceForUnit">
<xs:sequence>
<xs:element minOccurs="0" name="UnitId" type="xs:long"/>
<xs:element minOccurs="0" name="arg1" type="ns1:pricingDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createPriceForUnitResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:pricingDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPricesForUnit">
<xs:sequence>
<xs:element minOccurs="0" name="UnitId" type="xs:long"/>
<xs:element minOccurs="0" name="PriceId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getPricesForUnitResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:pricingDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllPricesForUnit">
<xs:sequence>
<xs:element minOccurs="0" name="UnitId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllPricesForUnitResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:pricingDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updatePriceForUnit">
<xs:sequence>
<xs:element minOccurs="0" name="UnitId" type="xs:long"/>
<xs:element minOccurs="0" name="arg1" type="ns1:pricingDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updatePriceForUnitResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:pricingDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deletePriceForUnit">
<xs:sequence>
<xs:element minOccurs="0" name="UnitId" type="xs:long"/>
<xs:element minOccurs="0" name="PriceId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deletePriceForUnitResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:pricingDTO"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPriceForDatesUnitId">
    <wsdl:part name="parameters" element="tns:getPriceForDatesUnitId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPriceForDatesUnitIdResponse">
    <wsdl:part name="parameters" element="tns:getPriceForDatesUnitIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPriceForUnitResponse">
    <wsdl:part name="parameters" element="tns:createPriceForUnitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPriceForUnit">
    <wsdl:part name="parameters" element="tns:createPriceForUnit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePriceForUnitResponse">
    <wsdl:part name="parameters" element="tns:updatePriceForUnitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePriceForUnitResponse">
    <wsdl:part name="parameters" element="tns:deletePriceForUnitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPricesForUnitResponse">
    <wsdl:part name="parameters" element="tns:getPricesForUnitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPricesForUnit">
    <wsdl:part name="parameters" element="tns:getPricesForUnit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPricesForUnit">
    <wsdl:part name="parameters" element="tns:getAllPricesForUnit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePriceForUnit">
    <wsdl:part name="parameters" element="tns:updatePriceForUnit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPricesForUnitResponse">
    <wsdl:part name="parameters" element="tns:getAllPricesForUnitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePriceForUnit">
    <wsdl:part name="parameters" element="tns:deletePriceForUnit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PricingInterface">
    <wsdl:operation name="getPriceForDatesUnitId">
      <wsdl:input name="getPriceForDatesUnitId" message="tns:getPriceForDatesUnitId">
    </wsdl:input>
      <wsdl:output name="getPriceForDatesUnitIdResponse" message="tns:getPriceForDatesUnitIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPriceForUnit">
      <wsdl:input name="createPriceForUnit" message="tns:createPriceForUnit">
    </wsdl:input>
      <wsdl:output name="createPriceForUnitResponse" message="tns:createPriceForUnitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPricesForUnit">
      <wsdl:input name="getPricesForUnit" message="tns:getPricesForUnit">
    </wsdl:input>
      <wsdl:output name="getPricesForUnitResponse" message="tns:getPricesForUnitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPricesForUnit">
      <wsdl:input name="getAllPricesForUnit" message="tns:getAllPricesForUnit">
    </wsdl:input>
      <wsdl:output name="getAllPricesForUnitResponse" message="tns:getAllPricesForUnitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePriceForUnit">
      <wsdl:input name="updatePriceForUnit" message="tns:updatePriceForUnit">
    </wsdl:input>
      <wsdl:output name="updatePriceForUnitResponse" message="tns:updatePriceForUnitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePriceForUnit">
      <wsdl:input name="deletePriceForUnit" message="tns:deletePriceForUnit">
    </wsdl:input>
      <wsdl:output name="deletePriceForUnitResponse" message="tns:deletePriceForUnitResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PricingInterfaceServiceSoapBinding" type="tns:PricingInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPriceForDatesUnitId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPriceForDatesUnitId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPriceForDatesUnitIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPriceForUnit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPriceForUnit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPriceForUnitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPricesForUnit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPricesForUnit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPricesForUnitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPricesForUnit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllPricesForUnit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllPricesForUnitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePriceForUnit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatePriceForUnit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePriceForUnitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePriceForUnit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePriceForUnit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePriceForUnitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PricingServiceInterface">
    <wsdl:port name="PricingPort" binding="tns:PricingInterfaceServiceSoapBinding">
      <soap:address location="http://localhost:9090/PricingPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
