wsdl/ReservationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ReservationMicroService" targetNamespace="http://interfaces.megatravel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://interfaces.megatravel.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/types" version="1.0">
<xs:element name="locationDTO">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="country" type="xs:string"/>
<xs:element name="city" type="xs:string"/>
<xs:element name="street" type="xs:string"/>
<xs:element name="number" type="xs:positiveInteger"/>
<xs:element name="postalCode" type="xs:int"/>
<xs:element minOccurs="0" name="latitude" type="xs:double"/>
<xs:element minOccurs="0" name="longitude" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/types" xmlns:ns2="http://www.megatravel.com/admin" xmlns:tns="http://www.megatravel.com/agent" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/agent" version="1.0">
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:import namespace="http://www.megatravel.com/admin"/>
<xs:element name="accommodationDTO">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="description" type="xs:string"/>
<xs:element name="cancelationDays" type="xs:positiveInteger"/>
<xs:element ref="ns1:locationDTO"/>
<xs:element ref="tns:accommodationTypeDTO"/>
<xs:element minOccurs="0" ref="ns2:userDTO"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="accommodationUnitDTO" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element name="size" type="xs:int"/>
<xs:element name="nameOfUnit" type="xs:string"/>
<xs:element ref="tns:unitTypeDTO"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="pricingDTO" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="price" type="xs:decimal"/>
<xs:element name="startDate" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="serviceDTO" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="nameOfService" type="xs:string"/>
<xs:element name="description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="serviceDTO" nillable="true"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="imageDTO" nillable="true">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="title" type="xs:string"/>
<xs:element name="uri" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="accommodationTypeDTO">
<xs:complexType>
<xs:sequence>
<xs:element name="Id" type="xs:long"/>
<xs:element name="nameOfAccType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="accommodationUnitDTO"/>
<xs:element name="imageDTO"/>
<xs:element name="pricingDTO"/>
<xs:element name="serviceDTO"/>
<xs:element name="unitTypeDTO">
<xs:complexType>
<xs:sequence>
<xs:element name="Id" type="xs:long"/>
<xs:element name="nameOfUnitType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/types" xmlns:tns="http://www.megatravel.com/admin" elementFormDefault="qualified" targetNamespace="http://www.megatravel.com/admin" version="1.0">
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:element name="roleDTO">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="userDTO">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Id" type="xs:long"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="lastName" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element name="country" type="xs:string"/>
<xs:element name="birthday" type="xs:string"/>
<xs:element name="phoneNumber" type="xs:string"/>
<xs:element name="pib" type="xs:string"/>
<xs:element name="activatedUser" type="xs:boolean"/>
<xs:element minOccurs="0" ref="ns1:locationDTO"/>
<xs:element ref="tns:roleDTO"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/types" xmlns:ns2="http://www.megatravel.com/admin" xmlns:ns3="http://www.megatravel.com/agent" elementFormDefault="qualified" targetNamespace="http://megatravel.com/reservations" version="1.0">
<xs:import namespace="http://www.megatravel.com/types"/>
<xs:import namespace="http://www.megatravel.com/admin"/>
<xs:import namespace="http://www.megatravel.com/agent"/>
<xs:element name="reservationDTO">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="arrivalDate" type="xs:string"/>
<xs:element name="departureDate" type="xs:string"/>
<xs:element name="stayRealized" type="xs:boolean"/>
<xs:element name="reservationPrice" type="xs:decimal"/>
<xs:element minOccurs="0" ref="ns2:userDTO"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ns3:accommodationUnitDTO"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.megatravel.com/admin" xmlns:ns2="http://www.megatravel.com/agent" xmlns:ns3="http://megatravel.com/reservations" xmlns:tns="http://interfaces.megatravel.com/" elementFormDefault="unqualified" targetNamespace="http://interfaces.megatravel.com/" version="1.0">
<xs:import namespace="http://www.megatravel.com/admin"/>
<xs:import namespace="http://www.megatravel.com/agent"/>
<xs:import namespace="http://megatravel.com/reservations"/>
<xs:element name="cancelReservation" type="tns:cancelReservation"/>
<xs:element name="cancelReservationResponse" type="tns:cancelReservationResponse"/>
<xs:element name="confirmReservation" type="tns:confirmReservation"/>
<xs:element name="confirmReservationResponse" type="tns:confirmReservationResponse"/>
<xs:element name="createReservation" type="tns:createReservation"/>
<xs:element name="createReservationResponse" type="tns:createReservationResponse"/>
<xs:complexType name="confirmReservation">
<xs:sequence>
<xs:element minOccurs="0" name="ReservationId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="confirmReservationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return">
<xs:complexType>
<xs:sequence>
<xs:element form="qualified" name="id" type="xs:long"/>
<xs:element form="qualified" name="arrivalDate" type="xs:string"/>
<xs:element form="qualified" name="departureDate" type="xs:string"/>
<xs:element form="qualified" name="stayRealized" type="xs:boolean"/>
<xs:element form="qualified" name="reservationPrice" type="xs:decimal"/>
<xs:element minOccurs="0" ref="ns1:userDTO"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ns2:accommodationUnitDTO"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createReservation">
<xs:sequence>
<xs:element minOccurs="0" name="ReservationDTO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createReservationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cancelReservation">
<xs:sequence>
<xs:element minOccurs="0" name="ReservationId" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cancelReservationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="confirmReservation">
    <wsdl:part name="parameters" element="tns:confirmReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReservation">
    <wsdl:part name="parameters" element="tns:createReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createReservationResponse">
    <wsdl:part name="parameters" element="tns:createReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmReservationResponse">
    <wsdl:part name="parameters" element="tns:confirmReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservation">
    <wsdl:part name="parameters" element="tns:cancelReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservationResponse">
    <wsdl:part name="parameters" element="tns:cancelReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ReservationService">
    <wsdl:operation name="confirmReservation">
      <wsdl:input name="confirmReservation" message="tns:confirmReservation">
    </wsdl:input>
      <wsdl:output name="confirmReservationResponse" message="tns:confirmReservationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createReservation">
      <wsdl:input name="createReservation" message="tns:createReservation">
    </wsdl:input>
      <wsdl:output name="createReservationResponse" message="tns:createReservationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <wsdl:input name="cancelReservation" message="tns:cancelReservation">
    </wsdl:input>
      <wsdl:output name="cancelReservationResponse" message="tns:cancelReservationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReservationServiceServiceSoapBinding" type="tns:ReservationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="confirmReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="confirmReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="confirmReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationMicroService">
    <wsdl:port name="ReservationServiceMicroServicePort" binding="tns:ReservationServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ReservationServiceMicroServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
